	* {
		margin: 0;
		padding: 0;
	}
	
	html,
	body {
		width: 100%;
		height: 100%;
		font-family: "宋体";
		font-size: 13px;
		background: #f5f5f5;
	}
	
	header {
		width: 100%;
		height: 34px;
	}
	
	#adv {
		width: 100%;
		height: 80px;
		background: url(../img/banner.jpg);
		background-position: -170px 0;
	}
	
	#banner {
		height: 33px;
		width: 100%;
		background: #f7f7f7;
		position: relative;
		border-bottom: 1px solid #eee;
	}
	
	#banner .lef {
		width: 40%;
		height: 100%;
		margin-left: 30px;
		float: left;
	}
	
	#banner .lef .pp {
		line-height: 33px;
		color: #565656;
		position: absolute; left: 100px;
		float: left;
	}
	
	#banner .lef span {
		display: block;
		float: left;
		border: 1px solid #cc9;
		width: 40px;
		height: 16px;
		padding: 2px 4px;
		margin-top: 6px;
		position: absolute; left: 300px;
	}
	
	#banner .lef span:hover {
		background: #fff;
	}
	
	#address {
		width: 438px;
		height: 320px;
		border: 1px solid #DCDCDC;
		position: absolute;
		left: 212px;
		top: 27px;
		background: #fff;
		z-index: 2;
		display: none;
	}
	
	#address p {
		margin-left: 16px;
		margin-top: 2px;
		line-height: 33px;
		width: 408px;
		color: #969696;
		border-bottom: 1px solid #DCDCDC;
	}
	
	#address ul {
		margin-left: 12px;
		margin-top: 12px;
	}
	
	#address li {
		list-style: none;
		float: left;
		color: #0099FF;
		margin-left: 10px;
	}
	
	#address .more {
		width: 80px;
		height: 26px;
		margin-top: 50px;
		color: #969696;
		margin-left: 20px;
	}
	
	#address .hua {
		margin-top: 3px;
		margin-left: 20px;
		color: #969696;
		height: 20px;
	}
	
	#address .ul {
		margin-left: 100px;
		margin-top: -20px;
		width: 300px;
		height: 26px;
		margin-left: 60px;
	}
	
	#address .ul li {
		color: #000;
		font-size: 12px;
	}
	
	#banner .lef b {
		border: 5px solid transparent;
		border-top-color: #96cc96;
		border-bottom: none;
		width: 0;
		position: absolute;
		top: 8px;
		right: 5px;
		transition: all 0s linear
	}
	
	#banner .lef span:hover b {
		transform: rotate(180deg)
	}
	
	#banner .rig {
		width: 800px;
		height: 100%;
		float: left;
		position: absolute;
		top: 0; left: 460px;
	}
	
	#banner .rig li {
		list-style: none;
		color: #969696;
		height: 33px;
		line-height: 33px;
		float: left;
		margin-left: 6px;
		box-sizing: border-box;
	}
	
	#banner .rig li a {
		text-decoration: none;
		color: #969696;
	}
	
	#banner .rig li a:nth-of-type(2) {
		margin-left: 6px;
	}
	
	#banner .rig li:nth-of-type(2) {
		margin-left: 8px;
	}
	#banner .rig li:nth-of-type(1) {
		margin-left: 90px;
	}
	#banner .rig .del li:nth-of-type(3) {
		margin-left: 7px;
		width: 80px;
		position: relative;
	}
	
	#banner .rig .del label {
		font-family: "微软雅黑";
		font-size: 12px;
		color: #565656;
		margin-left: -80px;
	}
	
	#banner .rig li b {
		border: 4px solid transparent;
		border-top-color: #96cc96;
		border-bottom: none;
		width: 0;
		position: absolute;
		top: 14px;
		right: -14px;
		transition: all .2s linear
	}
	
	#banner .rig li:nth-of-type(4) {
		margin-left: 12px;
		position: relative;
	}
	
	#banner .rig li:nth-of-type(3) {
		text-indent: 6px;
	}
	
	#banner .rig .del li:nth-of-type(5) {
		margin-left: 22px;
		width: 80px;
		text-indent: 6px;
		position: relative;
	}
	
	#banner .rig .del li:nth-of-type(6) {
		margin-left: 6px;
		width: 80px;
		text-indent: 6px;
		position: relative;
	}
	
	#banner .rig li:hover b {
		transform: rotate(180deg)
	}
	
	#banner .rig li a:hover {
		color: green;
	}
	
	#banner .rig li:nth-of-type(3) b {
		right: 4px;
	}
	
	#banner .rig li:nth-of-type(5) b {
		right: 8px;
	}
	
	#banner .rig li:nth-of-type(6) b {
		right: 8px;
	}
	
	#banner .rig li:nth-of-type(7),
	#banner .rig li:nth-of-type(8) {
		margin-top: -16px;
		color: #000;
	}
	
	#banner .rig .del li:nth-of-type(3):hover {
		border: 1px solid #cc9;
		background: #fff;
		box-shadow: 0 0 2px;
	}
	
	#banner .rig .del li:nth-of-type(5):hover {
		border: 1px solid #cc9;
		background: #fff;
		box-shadow: 0 0 2px;
	}
	
	#banner .rig .del li:nth-of-type(6):hover {
		border: 1px solid #cc9;
		background: #fff;
		box-shadow: 0 0 2px;
	}
	
	#banner .rig .del li:nth-of-type(7),
	#banner .rig .del li:nth-of-type(8) {
		margin-top: 1px;
	}
	
	#banner .rig .you {
		width: 80px;
		height: 112px;
		border: 1px solid #DCDCDC;
		position: absolute;
		box-sizing: border-box;
		box-shadow: 0 0 4px #ccc;
		background: #fff;
		left: 285px;
		top: 33px;
		display: none;
		z-index: 24;
	}
	
	#banner .you ul {
		width: 80px;
		height: 112px;
		margin-top: 3px;
	}
	
	#banner .rig .you li {
		width: 80px;
		height: 20px;
		list-style: none;
		margin-left: 3px;
		line-height: 22px;
	}
	
	#banner .rig .help {
		width: 80px;
		height: 132px;
		border: 1px solid #DCDCDC;
		position: absolute;
		box-sizing: border-box;
		box-shadow: 0 0 4px #ccc;
		left: 464px;
		display: none;
		top: 33px;
		background: #fff;
		z-index: 24;
	}
	
	#banner .help ul {
		width: 80px;
		height: 112px;
		margin-top: 3px;
	}
	
	#banner .rig .help li {
		width: 80px;
		height: 20px;
		list-style: none;
		margin-left: 3px;
		line-height: 22px;
	}
	
	#banner .rig .nav {
		width: 815px;
		height: 166px;
		border: 1px solid #DCDCDC;
		position: absolute;
		box-sizing: border-box;
		box-shadow: 0 0 4px #ccc;
		left: -185px;
		top: 33px;
		background: #fff;
		display: none;
		z-index: 24;
	}
	
	#banner .rig .nav div {
		width: 250px;
		height: 120px;
		border-right: 1px solid #DCDCDC;
		margin-top: 23px;
		float: left;
		margin-left: 6px;
	}
	
	#banner .rig .nav h3 {
		font-size: 18px;
		color: green;
		margin-left: 10px;
		margin-top: 2px;
	}
	
	#banner .rig .nav .h22 {
		color: red;
	}
	
	#banner .rig .nav .h33 {
		color: #646464;
	}
	
	#banner .rig .nav ul {
		margin-left: 6px;
	}
	
	#banner .rig .nav li {
		margin-left: 4px;
		margin-top: 4px;
		width: 72px;
		color: #666;
	}
	
	#banner .rig .nav div:nth-of-type(2) {
		margin-left: 16px;
	}
	
	#banner .rig .nav div:nth-of-type(3) {
		border-right: none;
		margin-left: 16px;
	}
	
	#banner .rig .nav .lone {
		width: 200px;
	}
	
	article {
		width: 100%;
		height: 1640px;
		position: relative;
	}
	
	#tu {
		width: 240px;
		height: 66px;
		background: url(../image/indexImg20130307.png) no-repeat -34px 0;
		margin-left: 128px;
		margin-top: 10px;
	}
	
	article .mm {
		margin-left: 128px;
		margin-top: 2px;
	}
	
	article .mm2 {
		position: absolute;
		left: 477px;
		top: 40px;
	}
	
	article h3 {
		font-size: 16px;
		color: #565656;
		background: #eee;
		border: 1px solid #DDDDDD;
		width: 983px;
		height: 34px;
		margin-left: 128px;
		margin-top: 8px;
		padding: 0 0 0 15px;
		line-height: 34px;
	}
	
	#zhu {
		width: 994px;
		height: 279px;
		border: 3px solid #6c9c0a;
		margin-left: 128px;
	}
	
	h4 {
		color: #565656;
		font-size: 14px;
		line-height: 26px;
		width: 400px;
		margin-left: 24px;
		margin-top: 12px;
	}
	
	#zhu form {
		width: 604px;
		height: 197px;
		padding: 10px 20px;
		margin-left: 30px;
		margin-top: 16px;
		position: relative;
	}
	
	#zhu input[type='radio'] {
		position: absolute;
		left: 18px;
		top: 12px;
	}
	
	#zhu label {
		color: #666;
		display: block;
		margin-top: 3px;
		line-height: 12px;
		margin-left: 18px;
		margin-bottom: 12px;
	}
	
	#zhu span {
		margin-left: 16px;
		color: #666;
	}
	
	#zhu span:nth-of-type(2) {
		margin-left: 10px;
		margin-top: 18px;
		display: block;
		float: left;
	}
	
	#zhu span:nth-of-type(3) {
		margin-left: 10px;
		margin-top: 12px;
		display: block;
		float: left;
	}
	
	#zhu span:nth-of-type(4) {
		margin-left: -180px;
		margin-top: 12px;
		display: block;
		float: left;
	}
	
	#zhu span:nth-of-type(5) {
		margin-left: 2px;
	}
	
	#zhu select {
		margin-top: 18px;
		margin-left: 8px;
	}
	
	#zhu .lab {
		margin-top: 15px;
		float: left;
	}
	
	#zhu input[type='text'] {
		width: 144px;
		height: 20px;
		border: 1px solid #ccc;
	}
	
	#zhu input[type='text']:nth-of-type(3) {
		width: 194px;
		height: 20px;
		border: 1px solid #ccc;
		margin-top: 10px;
		margin-left: 6px;
	}
	
	#zhu input[type='text']:nth-of-type(4) {
		margin-left: -100px;
		margin-top: 8px;
	}
	
	#zhu input[type='text']:nth-of-type(5) {
		width: 172px;
	}
	
	#zhu .butt {
		width: 124px;
		height: 26px;
		background: #6e9b0c;
		border: none;
		color: #fff;
		text-align: center;
		margin-top: 18px;
		line-height: 26px;
	}
	
	#fangshi {
		width: 998px;
		height: 56px;
		border: 1px solid #DDDDDD;
		margin-left: 128px;
		border-bottom: none;
	}
	
	#fangshi span,
	#fap span {
		font-size: 12px;
		color: #ccc;
		;
		font-weight: normal;
		margin-left: 8px;
	}
	
	#fap {
		width: 998px;
		height: 96px;
		border: 1px solid #DDDDDD;
		margin-left: 128px;
		border-bottom: none;
	}
	
	#fap p,
	#sure p {
		font-size: 12px;
		color: #666;
		margin-top: 12px;
		margin-left: 46px;
	}
	
	#sure {
		width: 998px;
		height: 118px;
		position: relative;
		border: 1px solid #DDDDDD;
		margin-left: 128px;
		border-bottom: none;
	}
	
	#sure b {
		display: block;
		position: absolute;
		width: 17px;
		height: 17px;
		left: 138px;
		top: 18px;
		cursor: pointer;
		background: url(../image/ordericons.png) no-repeat -36px 0;
	}
	
	#sure span {
		font-size: 12px;
		color: #ccc;
		font-weight: normal;
		margin-left: 28px;
	}
	
	#jqi {
		width: 998px;
		height: 919px;
		position: relative;
		border: 1px solid #DDDDDD;
		margin-left: 128px;
	}
	
	h5 {
		float: left;
		color: #666;
		margin-left: 36px;
		margin-top: 8px;
		margin-right: 6px;
	}
	
	#jqi p {
		margin-top: 8px;
		color: #666;
		float: left;
	}
	
	#jqi a {
		color: #34B742;
		display: block;
		float: right;
		margin-right: 30px;
		margin-top: -16px;
	}
	
	#din1 {
		width: 932px;
		height: 237px;
		background: #fff;
		margin-top: 32px;
		margin-left: 36px;
	}
	
	#jqi .sans {
		height: 92px;
	}
	
	#din1 ul {
		height: 34px;
		width: 932px;
		background: #EEEEEE;
	}
	
	#din1 ul li {
		list-style: none;
		float: left;
		text-align: center;
		;
		line-height: 34px;
		color: #565656;
	}
	
	#din1 ul li:nth-of-type(1) {
		width: 338px;
	}
	
	#din1 ul li:nth-of-type(2) {
		width: 105px;
	}
	
	#din1 ul li:nth-of-type(3) {
		width: 90px;
	}
	
	#din1 ul li:nth-of-type(4) {
		width: 90px;
	}
	
	#din1 ul li:nth-of-type(5) {
		width: 90px;
	}
	
	#din1 ul li:nth-of-type(6) {
		width: 100px;
	}
	
	#din1 ul li:nth-of-type(7) {
		width: 110px;
	}
	
	#din1 .goo1 {
		width: 932px;
		height: 28px;
		border-bottom: 1px solid #f2f2f2;
	}
	
	#din1 .goo1 ul {
		height: 28px;
		width: 932px;
		background: #F5F5F5;
	}
	
	#din1 .goo1 ul li {
		line-height: 28px;
	}
	
	#din1 .goo1 ul li:nth-of-type(1) {
		text-align: left;
		text-indent: 48px;
	}
	
	#din1 .goo1 span {
		font-family: "微软雅黑";
	}
	
	#din1 .we {
		width: 932px;
		height: 28px;
		border-bottom: 1px solid #f2f2f2;
		background: #F5F5F5;
	}
	
	#din1 .we span {
		margin-left: 758px;
		line-height: 28px;
	}
	
	#din1 .we label {
		color: red;
		font-family: "微软雅黑";
		margin-left: 32px;
	}
	
	#pmise {
		width: 960px;
		height: 202px;
		margin-top: 18px;
		margin-left: 18px;
		position: relative;
		overflow: hidden;
	}
	
	#pmise b {
		width: 16px;
		height: 16px;
		display: block;
		position: absolute;
		cursor: pointer;
	}
	
	#pmise b:nth-of-type(1) {
		background: url(../image/ordericons.png) no-repeat -53px 0;
		top: 4px;
	}
	
	#pmise b:nth-of-type(2) {
		background: url(../image/ordericons.png) no-repeat -36px 0;
		top: 4px;
		left: 120px;
	}
	
	#pmise b:nth-of-type(4) {
		background: url(../image/ordericons.png) no-repeat -36px 0;
		top: 72px;
		left: 220px;
	}
	
	#pmise b:nth-of-type(3) {
		background: url(../image/ordericons.png) no-repeat -53px 0;
		top: 36px;
	}
	
	#pmise b:nth-of-type(6) {
		background: url(../image/ordericons.png) no-repeat -36px 0;
		top: 130px;
		left: 80px;
	}
	
	#pmise b:nth-of-type(5) {
		background: url(../image/ordericons.png) no-repeat -53px 0;
		top: 102px;
		left: 44px;
	}
	
	#pmise span {
		color: #666;
		display: block;
		float: left;
		margin-top: 6px;
	}
	
	#pmise label {
		display: block;
		;
		float: left;
		font-family: "微软雅黑";
		color: #666;
	}
	
	#pmise label:nth-of-type(1) {
		margin-top: 4px;
	}
	
	#pmise label:nth-of-type(2) {
		margin-top: 4px;
		margin-left: 48px;
	}
	
	#pmise label:nth-of-type(3) {
		margin-top: 4px;
		margin-left: 48px;
	}
	
	#pmise label:nth-of-type(4) {
		margin-top: -24px;
		margin-left: 880px;
	}
	
	#pmise span:nth-of-type(1) {
		margin-left: 20px;
	}
	
	#pmise span:nth-of-type(2) {
		margin-left: 368px;
	}
	
	#pmise span:nth-of-type(5) {
		margin-top: 16px;
		margin-left: 20px;
	}
	
	#pmise span:nth-of-type(6) {
		margin-left: 774px;
		margin-top: -24px;
	}
	
	#pmise span:nth-of-type(7) {
		margin-left: 20px;
		margin-top: 20px;
	}
	
	#pmise span:nth-of-type(8) {
		margin-left: -140px;
		margin-top: 52px;
	}
	
	#pmise span:nth-of-type(9) {
		margin-left: -190px;
		margin-top: 80px;
	}
	
	#pmise span:nth-of-type(10) {
		margin-left: -190px;
		margin-top: 108px;
	}
	
	#pmise span:nth-of-type(11) {
		margin-left: -50px;
		margin-top: 108px;
		color: red;
		font-family: "微软雅黑";
	}
	
	#pmise span:nth-of-type(12) {
		margin-left: 20px;
		margin-top: 108px;
	}
	
	#pmise .tt {
		width: 50px;
		border: 1px solid #ccc;
		height: 20px;
		background: #dcdcdc;
	}
	
	#pmise .check1 {
		position: absolute;
		left: 2px;
		top: 72px;
	}
	
	#pmise .check2 {
		position: absolute;
		left: 2px;
		top: 132px;
	}
	
	#jqi .save {
		color: #34B742;
		margin-top: 66px;
		display: block;
		margin-left: 780px;
		cursor: pointer;
	}
	
	#jqi .save i {
		font-style: normal;
		color: orangered;
	}
	
	#jqi .yyan {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: #fafafa;
		height: 60px;
	}
	
	#jqi h6 {
		font-size: 16px;
		color: #565656;
		width: 350px;
		margin-left: 672px;
		line-height: 60px;
	}
	
	#jqi h6 i {
		font-style: normal;
		color: red;
		font-family: "微软雅黑";
		font-size: 20px;
		font-weight: normal;
	}
	
	#jqi h6 input[type='text'] {
		width: 150px;
		height: 40px;
		border: 1px solid #DDDDDD;
		font-size: 16px;
		margin-left: 10px;
	}
	
	footer {
		height: 300px;
		width: 100%;
		position: relative;
		border-top: 1px solid #CECBCE;
		margin-top: 30px;
	}
	
	#dd {
		width: 100%;
		height: 285px;
		position: absolute;
	}
	
	#dd .ddd1 {
		width: 290px;
		height: 133px;
		position: absolute;
		left: 34px;
		top: 20px;
	}
	
	#dd .ddd1 li {
		list-style: none;
		height: 20px;
	}
	
	#dd .ddd1 li:nth-of-type(1) {
		font-size: 20px;
		color: #646464;
		font-weight: bold;
		font-family: "微软雅黑";
		padding: 6px 0;
	}
	
	#dd .ddd1 li:nth-of-type(2) {
		font-size: 12px;
		color: #969696;
		font-family: "微软雅黑";
		padding: 6px 0;
	}
	
	#dd .uuu {
		width: 120px;
		height: 120px;
		position: absolute;
		left: 340px;
		top: 32px;
	}
	
	#dd .uuu1 {
		left: 472px;
	}
	
	#dd .uuu2 {
		left: 604px;
	}
	
	#dd .uuu3 {
		left: 736px;
	}
	
	#dd .uuu4 {
		left: 868px;
	}
	
	#dd .uuu li {
		list-style: none;
		color: #646464;
		height: 24px;
		line-height: 24px;
		font-family: "微软雅黑";
		font-size: 12px;
	}
	
	#dd .uuu li:nth-of-type(1) {
		font-weight: bold;
		font-size: 14px;
	}
	
	#dd a {
		text-decoration: none;
		color: #646464;
		font-weight: bold;
		font-size: 14px;
		position: absolute;
	}
	
	#dd .phone {
		left: 990px;
		top: 36px;
	}
	
	#dd .wei {
		left: 1112px;
		top: 36px;
	}
	
	#dd .guan {
		position: absolute;
		bottom: 40px;
		left: 80px;
	}
	
	#dd .vip {
		position: fixed;
		right: 40px;
		bottom: 300px;
		cursor: pointer;
	}
	
	#dd .guan2 {
		position: absolute;
		bottom: 40px;
		left: 180px;
	}
	
	#dd .sss1 {
		width: 80px;
		height: 80px;
		background: url(../img/erwei.png);
		display: block;
		left: 990px;
		top: 66px;
		position: absolute;
	}
	
	#dd .sss2 {
		width: 80px;
		height: 80px;
		background: url(../img/erwei.png);
		display: block;
		left: 1112px;
		top: 66px;
		position: absolute;
	}
	
	#foot {
		width: 1180px;
		height: 50px;
		margin: 0px auto;
		border-top: 1px solid #E0E0E0;
		padding-top: 15px;
		position: absolute;
		top: 188px;
		left: 30px;
	}
	
	#foot ul {
		margin-left: 300px;
		margin-bottom: 32px;
		margin-top: 10px;
	}
	
	#foot li {
		list-style: none;
		float: left;
		color: #646464;
		margin-left: 12px;
		cursor: pointer;
	}
	
	#foot li:nth-of-type(1):hover {
		color: #669900;
	}
	
	#foot li:nth-of-type(2):hover {
		color: #669900;
	}
	
	#foot li:nth-of-type(3):hover {
		color: #669900;
	}
	
	#foot li:nth-of-type(4):hover {
		color: #669900;
	}
	
	#foot li:nth-of-type(5):hover {
		color: #669900;
	}
	
	#foot li:nth-of-type(6) {
		color: #CECBCE;
		width: 530px;
	}
	
	#foot span {
		color: #Cc6;
		margin-left: 24px;
	}
	
	#foot span:nth-of-type(1) {
		margin-left: 280px;
	}