* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 13px;
}

#welcome {
	width: 400px;
	height: 75px;
	position: absolute;
	left: 132px;
	top: 10px;
}

#welcome img {
	float: left;
}

#welcome span {
	line-height: 70px;
	display: block;
	height: 70px;
	float: left;
	font-size: 18px;
	padding-left: 3px;
}

#pic {
	width: 520px;
	height: 340px;
	position: absolute;
	left: 132px;
	top: 140px;
}

#login {
	width: 400px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 672px;
	top: 92px;
}

#login span {
	color: #515151;
	font-size: 16px;
	float: left;
	display: block;
	border-right-width: 80px;
	height: 50px;
}

#login .but {
	font-size: 12px;
	color: #515151;
	width: 70px;
	height: 25px;
	border: 1px solid #34b742;
	line-height: 25px;
	text-align: center;
	position: absolute;
	left: 330px;
	top: 14px;
	cursor: pointer;
	background: #fff4f0;
}

#ss {
	width: 400px;
	height: 398px;
	border: 1px solid #cdcdcd;
	position: absolute;
	left: 672px;
	top: 144px;
}

#ss .youxuan {
	width: 199px;
	height: 31px;
	
	position: absolute;
	left: 0;
	top: -2px;
	overflow: hidden;
}

#ss .suyun {
	width: 199px;
	height: 31px;
	border-left: 1px solid #cdcdcd;
	position: absolute;
	left: 199px;
	top: -2px;
	overflow: hidden;
}
.active{border-top: 2px solid #69af05;}
.active2{border-bottom: 1px solid #cdcdcd;}


#ss .youxuan img {
	position: absolute;
	left: 56px;
	top: 8px;
}

#ss .suyun img {
	position: absolute;
	left: 56px;
	top: -40px;
}

#ss .yy {
	color: #515151;
	font-size: 14px;
	position: absolute;
	left: 76px;
	top: 6px;
}

#ss .yy2 {
	color: #515151;
	font-size: 14px;
	position: absolute;
	left: 76px;
	top: 6px;
}

.form {
	width: 324px;
	height: 279px;
	position: absolute;
	left: 34px;
	top: 42px;
}

.form span {
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	display: block;
}

.form span:nth-of-type(2) {
	margin-top: 12px;
}
.form2 span:nth-of-type(2) {
	margin-top: 4px;
}
.form .pho {
	width: 304px;
	border: 1px solid #CDCDCD;
	height: 22px;
	margin-top: 4px;
	background: url(../img/icon1.jpg) no-repeat 282px 6px;
	padding: 8px 5px;
	line-height: 20px;
	font-size: 14px;
}

.form .pass {
	width: 304px;
	border: 1px solid #CDCDCD;
	height: 22px;
	margin-top: 4px;
	background: url(../img/icon2.jpg) no-repeat 282px 6px;
	padding: 8px 5px;
	line-height: 20px;
	font-size: 14px;
}
.form2 .pass{margin-top: 0;}
.form .pro {
	width: 94px;
	border: 1px solid #CDCDCD;
	height: 20px;
	margin-top: 32px;
	padding: 8px 5px;
	line-height: 20px;
	font-size: 14px;
}
.form2 .pro{margin-top: 18px;}
.form p{position: absolute; right: 12px; bottom: 40px;color: #646464;}
.form2 p{bottom: -10px; right: 46px;}
.form2 a{text-decoration: none;; color: #646464;}
.form2 a:hover{text-decoration: underline;}
.con {
	width: 106px;
	height: 33px;
	background: #515151;
	opacity: 0.7;
	position: absolute;
	left: 120px;
	top: 184px;
	cursor: pointer;
	border: 2px solid #333333;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 36px;
}
.form2 .con{top: 158px;}
.sub {
	width: 320px;
	height: 41px;
	background: #008000;
	font-size: 18px;
	color: #fff;
	box-shadow: 0 0 4px #000;
	opacity: .8;
	cursor: pointer;
	border: none;
	font-family: "微软雅黑";
	border-radius: 4px;
	margin-top: 24px;
}

.sub:hover {
	background: #0086B3;
}
.form2 .sub:hover{background: #34B742;}
#hezuo {
	width: 400px;
	height: 56px;
	border-top: 1px solid #ccc;
	position: absolute;
	bottom: 0;
}

#hezuo h2 {
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	margin-top: 4px;
	text-indent: 24px;
	line-height: 32px;
}

#hezuo ul {
	margin-left: 12px;
	margin-top: 8px;
}

#hezuo li {
	list-style: none;
	float: left;
	margin-left: 12px;
	color: #646464;
}

#bott{width:100%; height: 100px; position: absolute; top: 596px; left: 0;}
#bott ul{width: 364px; height: 20px; margin-left: 476px; margin-top: 6px;}
#bott li{list-style: none; float: left; margin-left: 6px;    color: #333;}
#bott p{color: #333; text-align: center;font-size: 12px; margin-top: 6px;}
.form2{display: none;}
/*.rom{display: none;}*/
