* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
img{
	vertical-align: bottom;
}
body{
	background: #ccc;
}
#box {
	position: relative;
	margin-top: 30px;
	margin-left: 30px;
	padding: 10px;
	width: 350px;
	background: #fff;
}
#top {
	position: relative;
}
#middle-img {
	width: 350px;
	height: 350px;
}
#zoom{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 175px;
	height: 175px;
	background: url(../images/icon.png) left top repeat;
}
#list {
	margin-top: 10px;
	overflow: hidden;
}
#list li{
	float: left;
	cursor: pointer;
}
#list img{
	width: 64px;
	height: 64px;
	border: 2px solid #fff;
}
#list .active{
	border-color: #c81623;
}
#right {
	position: absolute;
	top: 0;
	left: 380px;
	display: none;
	width: 350px;
	height: 350px;
	overflow: hidden;
}
#big-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 700px;
	height: 700px;
}